h1{
  text-shadow: 2px 2px 5px #ef0bc9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #E0FFFF, #FFF0F5);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #FF69B4;
  outline: none;
  font-size: 16px;
  background: #FFF0F5;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #1E90FF;
  box-shadow: 0 0 10px #1E90FF;
}




